.arcadeView {
    margin: 20px 300px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    background-color: rgba(229, 195, 172, 0.5);
    border-radius: 15px;
}

header > h2 {
    font-weight: 600;
}

header::after {
    content: "";
    display: inline-block;
    width: 70px;
    border: 2px solid rgb(120, 117, 117);
}

.gameSpace {
    padding: 10px 20px;
    height: 400px;
}

.gameSpace > form > p {
    color: rgba(0,0,0,0.6);
}

.gamePanel {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    font-size: 20px;
}

.gamePanel::before {
    content: "";
    display: inline-block;
    width: 80%;
    border: 0.5px solid rgb(120, 117, 117);
}

.gamePanel > div {
    display: inline-block;
    width: 40%;
}

