<div *ngIf="arcade" class="arcadeView">
    <!-- Guessing game title -->
    <header><h2>{{ arcade.name }}</h2></header>
    
    <!-- Guessing game display -->
    <div class="gameSpace">
        <h3>A number is randomly sampled from a pool of 10 numbers (0-9 inclusive)</h3> 
        <h3>Guess the number correctly to win.</h3>
        <form #guessForm="ngForm" (ngSubmit)="play(guessForm.value.newguess)">
           <div class="form-group">
            <select class="form-control form-control-lg" name="newguess" ngModel>
                <option *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]" [selected]="item === 0">{{item}}</option>
            </select>
            </div>
            <button type="submit" *ngIf="canPlay()" class="btn btn-primary mb-2">Roll</button>
            <!-- Display if the guess is incorrect -->
            <p  *ngIf="!canPlay()">You do not have sufficient tokens to play. Please recharge.</p>
        </form>
        <!-- display on correct guess-->
        <div *ngIf="won === true" id="decisionMessage">
            <h4>Congratulations! You just won ${{ arcade.tokenToPlay * 2 }}</h4>
        </div>
        <!-- display on incorrect guess-->
        <div *ngIf="won === false" id="decisionMessage">
            <h4>Sorry! The correct guess was {{ winNumber }}. Better luck next time.</h4>
        </div>
        <div class="gamePanel">
            <div>Win: <i class="fab fa-adn"></i> {{ arcade.tokenToPlay * 2 }}</div>
            <div>Play: <i class="fab fa-adn"></i> {{ arcade.tokenToPlay }}</div>
        </div>
    </div>

</div>

<!-- Error Page  -->
<div *ngIf="!arcade" class="error">
    <h1>The page you have been looking for is not found.</h1>
</div>
