<div class="homepage container">
    <!-- Message display panel on the homepage -->
    <div class="welcomePanel">
        <h3>Experience the golden age of arcade games for free.</h3>
        <p>Arcaden offers dozens of free arcade games that you can play at the tip of your fingers.</p>
        <p> To get started, click on the link below to access free arcade games. </p>
        <!-- Arcade instructions for the homepage -->
        <div class="arcadeInstruction">
            <h4>Instructions</h4>
            <ul>
                <li>Create or change the user by clicking on the dropdown, and selecting the "Create/Change user" option.</li>
                <li>Each game requires fixed tokens (<i class="fab fa-adn"></i>) to play. To recharge <i class="fab fa-adn"></i>, click on "Add Tokens" in the dropdown with your name.</li>
                <li>To add tokens, you must have sufficient balance. To add balance, click on "Add Balance".</li>
                <li>To view all your transactions, click on "Transactions history" under the dropdown.</li>
            </ul>
        </div>
    </div>

    <!-- Navigates to the page with all the arcade games -->
    <div class="homeCard">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Arcade</h5>
              <p class="card-text">Get access to dozens of games now!</p>
              <a routerLink="/arcade" class="btn btn-primary">Play Free Games</a>
            </div>
          </div>
    </div>
    
</div>


