<div class="homepage container">

    <div class="welcomePanel">
        <h3>Experience the golden age of arcade games for free.</h3>
        <p>Arcaden offers dozens of free arcade games that you can play at the tip of your fingers.</p>
        <p> To get started, click on the link below to access free arcade games. </p>
        <div class="arcadeInstruction">
            <h4>Instructions</h4>
            <ul>
                <li>Each game requires certain tokens to play. If you want to recharge token, click on "Add Tokens".</li>
                <li>To add tokens, you must have sufficient balance. To add balance, click on "Add Balance".</li>
                <li>To view all your transactions, click on "Transactions history".</li>
            </ul>
        </div>
    </div>

    <div class="homeCard">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Arcade</h5>
              <p class="card-text">Get access to dozens of games now!</p>
              <a routerLink="/arcade" class="btn btn-primary">Play Free Games</a>
            </div>
          </div>
    </div>
    
</div>


